* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F6F7F7;
  overflow-wrap: break-word; /* force long words to break */
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  display: grid;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  grid-template-areas:
    "left"
    "right";
}

@media only screen and (min-width: 820px) {
  #content {
    grid-column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "left right";
  }
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color: #efefef;
  text-align: center;
}
